body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
  /* background-color: red; */
}
.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}
input,
textarea,
button {
  margin: 0 20px;
  padding: 5px;
}
input {
  height: 20px;
}
td {
  border: 1px solid black;
  height: 40px;
  text-align: left;
  column-width: 200px 600px 200px 200px;
  font-size: 17px;
}
thead td {
  text-align: center;
  font-size: 20px;
}
table {
  margin: 20px 100px;
}
